body{
    font-family:Arial,sans-serif;
    background-color:gray;
    text-align:center;
    margin:20px
}
h1{
    color:rgb(46, 45, 45);
    margin-bottom:30px;
}
product-box{
    background-color: grey;
    width:300px;
    margin:0 auto;
    padding:15px;
    border:2px solid red;
    border-radius:20px;
}
product-box img{
    width:50%;
    height:auto;
    border-radius:5px;
}
description{
    color:rgb(44, 208, 36);
    font-size:50px;
    margin:5px;
}
button{
    background:red;
}